/* Define o estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #d0f5d0; /* Fundo verde claro */
    color: white; /* Texto branco */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Cabeçalho da página */
h1 {
    color: #ffffff;
    margin-top: 30px;
    font-size: 2.5em;
}

/* Estilo do formulário */
form {
    margin-top: 20px;
    padding: 20px;
    background-color: #4CAF50; /* Fundo verde */
    border-radius: 10px;
    display: inline-block;
}

/* Estilo dos campos de input e botão */
input[type="file"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #45a049; /* Verde escuro */
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

button:hover {
    background-color: #3e8e41; /* Alterar para um verde mais escuro no hover */
}

/* Estilo do botão de "Ler mais um código" */
button:focus {
    outline: none;
}

/* Mensagem de sucesso */
p {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
