<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <a href="{{ url_for('index') }}" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none; text-align: center;">
        Voltar ao menu inicial
    </a>
</head>
<body>
    <header>
        <h1>Cadastro de Usuário</h1>
    </header>

    <div class="form-container">
        <form method="POST" action="{{ url_for('registro') }}">
            <div class="input-group">
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Cadastrar</button>
            <a href="{{ url_for('login') }}" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none; text-align: center;">
                Fazer login
            </a>
        </form>
    </div>
</body>
</html>
